/* font size */
.fs-10 { font-size: 10px !important; }
.fs-12 { font-size: 12px !important; }
.fs-14 { font-size: 14px !important; }
.fs-16 { font-size: 16px !important; }
.fs-18 { font-size: 18px !important; }
.fs-20 { font-size: 20px !important; }
.fs-22 { font-size: 22px !important; }
.fs-24 { font-size: 24px !important; }
.fs-26 { font-size: 26px !important; }
.fs-28 { font-size: 28px !important; }
.fs-30 { font-size: 30px !important; }
.fs-32 { font-size: 32px !important; }

/* text transform */
.no-text-transform { text-transform: none !important; }
.text-normal { font-weight: normal; }

/* text align */
.text-align-left { text-align: left !important; }
.text-align-center { text-align: center !important; }
.text-align-right { text-align: right !important; }

/* float */
.float-left { float: left !important; }
.float-right { float: right !important; }
.vertical-align-center { vertical-align: center !important; }

/* width */
.w-4 { width: 4% !important; }
.w-5 { width: 5% !important; }
.w-10 { width: 10% !important; }
.w-15 { width: 15% !important; }
.w-20 { width: 20% !important; }
.w-25 { width: 25% !important; }
.w-30 { width: 30% !important; }
.w-40 { width: 40% !important; }
.w-45 { width: 45% !important; }
.w-50 { width: 50% !important; }
.w-60 { width: 60% !important; }
.w-65 { width: 65% !important; }
.w-70 { width: 70% !important; }
.w-75 { width: 75% !important; }
.w-80 { width: 70% !important; }
.w-90 { width: 90% !important; }
.w-100 { width: 100% !important; }

/* margin */
.m-auto { margin: 0 auto !important; }

.mt-0 { margin-top: 0px !important; }
.mt-2 { margin-top: 2px !important; }
.mt-5 { margin-top: 5px !important; }
.mt-25 { margin-top: 18px !important; }
.mt-120 { margin-top: 120px !important; }

.mr-5 { margin-right: 5px !important; }
.mr-10 { margin-right: 10px !important; }
.mr-15 { margin-right: 15px !important; }

.ml-5 { margin-left: 5px !important; }
.ml-15 { margin-left: 15px !important; }

.mh-15 { margin: 0 15% !important; }

/* cursor */
.pointer { cursor: pointer; }

/* display */
.d-none {
    display: none !important;
}
.d-inline {
    display: inline !important;
}
.d-block {
    display: block !important;
}

/* overflow */
.overflow-hidden {
    overflow: hidden !important;
}
